@import "normalize.css"
@import "stylus/variables"

/****************/
/** COMPONENTS **/
/****************/
.button {
	/*height: 30px;*/
	border: 2px solid green-color;
	color: green-color;
	padding: 8px;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	&:hover {
		border: 2px solid orange-color;
		color: orange-color;
		cursor: pointer
	}
}

.loader-svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

/******************/
/** BODY STYLING **/
/******************/
a {
	color: green-color;
	text-decoration: none;
	&:hover {
		color: orange-color;
	}
}

#wrapper {
	width: 100%;
}

body {
	font-family: "Century Gothic",Arial,CenturyGothic,AppleGothic,sans-serif !important;
	color: gray-text;
}

.title-header {
	margin: 0;
	font-size: 32px;
	font-weight: normal;
	color: blue-text;
}

.sub-header {
	margin: 0;
	font-size: 20px;
	font-weight: normal;
}

.minor-header {
	margin: 0;
	font-size: 20px;
	color: blue-text;
	font-weight: normal;
}

.container {
	width: 100%
	padding: 0 15px
	margin-top: 70px
	box-sizing: border-box;
}

@media (min-width: 768px) {
	.container {
		width: 960px;
		margin: 0 auto;
		margin-top: 95px;
	}
}

@import 'stylus/nav'
@import 'stylus/intro'
@import 'stylus/portfolio'
@import 'stylus/about'
@import 'stylus/contact'
@import 'stylus/lightbox'


/***TRANSITIONS***/
@keyframes fade-out {
	0%   {}
  15%   {opacity: 0;}
  100% {opcity: 0;}
}

.fade-out {
	animation-name: fade-out;
  animation-duration: 4s;
  -webkit-animation-name: fade-out;
  -webkit-animation-duration: 4s;
}

@-webkit-keyframes zoom-enter {
	0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
    transform: scale3d(.1, .1, .1);
  }
  90% { opacity: 1; 
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

@keyframes zoom-enter {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
    transform: scale3d(.1, .1, .1);
  }
  50% { opacity: 1; 
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
  	opacity: 1;
  }
}

.zoom-enter {
	animation-name: zoom-enter;
  animation-duration: 0.5s;
  -webkit-animation-name: zoom-enter;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes zoom-exit {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: scale3d(.05, .3, .3);
    transform: scale3d(.05, .3, .3);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoom-exit {
    0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: scale3d(.01, 1, 1);
    transform: scale3d(.01, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(.01, .01, 1);
    transform: scale3d(.01, .01, 1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(.01, .01, 1);
    transform: scale3d(.01, .01, 1);
  }
}

.zoom-exit {
	animation-name: zoom-exit;
  animation-duration: .8s;
  -webkit-animation-name: zoom-exit;
  -webkit-animation-duration: .8s;
}














