@import 'normalize.css';
/****************/
/*** LIGHTBOX ***/
/****************/
body:after {
  content: url("../images/close.png") url("../images/loading.gif") url("../images/prev.png") url("../images/next.png");
  display: none;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  background-color: #fff;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-container {
  padding: 4px;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url("../images/loading.gif") no-repeat;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}
.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url("../images/prev.png") left 48% no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url("../images/next.png") right 48% no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url("../images/close.png") top right no-repeat;
  text-align: right;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  opacity: 1;
}
/****************/
/** COMPONENTS **/
/****************/
.button {
/*height: 30px;*/
  border: 2px solid #27ae60;
  color: #27ae60;
  padding: 8px;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
}
.button:hover {
  border: 2px solid #f39c12;
  color: #f39c12;
  cursor: pointer;
}
/******************/
/** BODY STYLING **/
/******************/
a {
  color: #27ae60;
  text-decoration: none;
}
a:hover {
  color: #f39c12;
}
#wrapper {
  width: 100%;
}
body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
  color: #7f8c8d;
}
.title-header {
  margin: 0;
  font-size: 32px;
  font-weight: normal;
  color: #3498db;
}
.sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.minor-header {
  margin: 0;
  font-size: 20px;
  color: #3498db;
  font-weight: normal;
}
.container {
  width: 960px;
  margin: 0 auto;
}
header {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .header-container {
  margin: 0 auto;
}
header #logo {
  font-size: 24px;
  color: #3498db;
}
header #logo a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
header #logo a:hover {
  color: #f39c12;
}
header nav {
  display: inline-block;
}
header ul {
  list-style: none;
  padding: 0;
}
header ul li {
  margin: 0;
}
section#intro {
  width: 100%;
  height: 1000px;
}
section#intro .container {
  width: 660px;
}
section#intro .content {
  position: absolute;
  width: 655px;
  top: 200px;
  height: 180px;
  text-align: center;
  margin: 0 auto;
}
section#intro #name-title-img {
  display: none;
}
section#intro #name-title {
  display: none;
  background: -webkit-linear-gradient(transparent, transparent), url("../images/Caribou.jpg");
  background-position: 70% 43%;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 22px;
  margin: 0;
  color: #3498db;
  font-weight: normal;
  background-clip: text;
  display: none;
  font-size: 96px;
  font-weight: bolder;
}
section#intro #location {
/*intro-background(99%, 1%, intro-background-img)*/
  letter-spacing: 23.5px;
  background: -webkit-linear-gradient(transparent, transparent), url("../images/Caribou.jpg");
  background-position: 99% 1%;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 22px;
  margin: 0;
  color: #3498db;
  font-weight: normal;
  background-clip: text;
  display: none;
  margin-bottom: 15px;
  margin-right: -29px;
}
section#intro #occupation {
  letter-spacing: 2.9px;
  padding-left: 7px;
  background: -webkit-linear-gradient(transparent, transparent), url("../images/Caribou.jpg");
  background-position: 99% 10%;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 22px;
  margin: 0;
  color: #3498db;
  font-weight: normal;
  background-clip: text;
  display: none;
}
section#portfolio {
  display: none;
}
section#portfolio .work-example:nth-of-type(1) {
  top: 48px;
  left: 0px;
}
section#portfolio .work-example:nth-of-type(2) {
  top: 48px;
  left: 230px;
}
section#portfolio .work-example:nth-of-type(3) {
  top: 48px;
  left: 460px;
}
section#portfolio .work-example:nth-of-type(4) {
  top: 48px;
  left: 690px;
}
section#portfolio .work-example:nth-of-type(5) {
  top: 303px;
  left: 0px;
}
section#portfolio .work-example:nth-of-type(6) {
  top: 303px;
  left: 230px;
}
section#portfolio .work-example:nth-of-type(7) {
  top: 303px;
  left: 460px;
}
section#portfolio .work-example:nth-of-type(8) {
  top: 303px;
  left: 690px;
}
@media (max-width: 1200px) {
  section#portfolio .work-example:nth-of-type(4) {
    top: 548px;
    left: 0px;
  }
  section#portfolio .work-example:nth-of-type(8) {
    top: 548px;
    left: 230px;
  }
}
@media (max-width: 900px) {
  section#portfolio .work-example:nth-of-type(3) {
    top: 548px;
    left: 0;
  }
  section#portfolio .work-example:nth-of-type(4) {
    top: 803px;
    left: 0;
  }
  section#portfolio .work-example:nth-of-type(7) {
    top: 548px;
    left: 230px;
  }
  section#portfolio .work-example:nth-of-type(8) {
    top: 803px;
    left: 230px;
  }
}
section#portfolio .container {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  margin-top: 95px;
  width: 900px;
  position: relative;
}
@media (max-width: 1200px) {
  section#portfolio .container {
    width: 650px;
  }
}
@media (max-width: 900px) {
  section#portfolio .container {
    width: 460px;
  }
}
@media (max-width: 730px) {
  section#portfolio .container {
    margin-left: 135px;
  }
}
section#portfolio .work-example {
  transition: left 0.5s, top 0.5s, opacity 1s;
  -webkit-transition: left 0.5s, top 0.5s, opacity 1s;
  position: absolute;
  width: 200px;
  height: 250px;
  font-size: 14px;
}
section#portfolio .work-description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
section#portfolio .work-description .left-section {
  vertical-align: top;
  padding-top: 210px;
  width: 250px;
  display: inline-block;
}
section#portfolio .work-description .content {
  width: 70%;
  display: inline-block;
}
section#portfolio .work-image {
  height: 200px;
  width: 200px;
  cursor: pointer;
  opacity: 1;
  border-radius: 5px;
}
section#portfolio .work-example.active {
  top: 0;
  left: 0;
}
section#portfolio .work-example.hidden,
section#portfolio .opacity {
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
}
section#portfolio .close {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 32px;
  cursor: pointer;
  color: #000;
}
section#portfolio .gallery {
  margin-top: 15px;
}
section#portfolio .box-image {
  width: 95px;
  height: 85px;
  object-fit: contain;
  border: 1px solid #3498db;
  border-radius: 5px;
  margin-top: 10px;
}
section#portfolio .grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
  filter: #808080; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all 0.3s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
section#portfolio .grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
/*************/
/*** ABOUT ***/
/*************/
#about {
  display: none;
}
#about .container {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  margin-top: 95px;
  width: 900px;
  position: relative;
}
@media (max-width: 1200px) {
  #about .container {
    width: 650px;
  }
}
@media (max-width: 900px) {
  #about .container {
    width: 460px;
  }
}
@media (max-width: 730px) {
  #about .container {
    margin-left: 135px;
  }
}
#about #about-me-img {
  width: 277px;
  padding: 3px;
  border: dotted 1px #2c3e50;
  height: auto;
  margin-right: 36px;
  float: left;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  #about #about-me-img {
    width: 200px;
  }
}
#contact {
  display: none;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
#contact .container {
  margin-top: 95px;
  width: 700px;
}
@media (max-width: 960px) {
  #contact .container {
    width: 400px;
    margin-left: 135px;
  }
}
#contact #contact-icons {
  position: relative;
  margin-top: 20px;
}
#contact .fa {
  width: 35px;
}
#contact .icon {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: absolute;
  width: 300px;
}
#contact .icon div {
  display: inline-block;
  margin-left: 10px;
}
#contact .icon span {
  opacity: 0;
}
#contact .icon:nth-of-type(1) {
  top: 0px;
  left: 400px;
}

#contact .icon:nth-of-type(2) {
  top: 0px;
  left: 50px;
}

#contact .icon:nth-of-type(3) {
  top: 50px;
  left: 400px;
}

#contact .icon:nth-of-type(4) {
  top: 50px;
  left: 50px;
}

#contact .icon:nth-of-type(5) {
  top: 100px;
  left: 400px;
}

#contact .icon:nth-of-type(6) {
  top: 100px;
  left: 50px;
}

@media (max-width: 960px) {
  #contact .icon:nth-of-type(1) {
    left: 0;
    top: 0px;
  }
  #contact .icon:nth-of-type(2) {
    left: 0;
    top: 50px;
  }
  #contact .icon:nth-of-type(3) {
    left: 0;
    top: 100px;
  }
  #contact .icon:nth-of-type(4) {
    left: 0;
    top: 150px;
  }
  #contact .icon:nth-of-type(5) {
    left: 0;
    top: 200px;
  }

  #contact .icon:nth-of-type(6) {
    left: 0;
    top: 250px;
  }
}

/***TRANSITIONS***/
.fade-out {
  animation-name: fade-out;
  animation-duration: 4s;
  -webkit-animation-name: fade-out;
  -webkit-animation-duration: 4s;
}
@-webkit-keyframes zoom-enter {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.zoom-enter {
  animation-name: zoom-enter;
  animation-duration: 0.5s;
  -webkit-animation-name: zoom-enter;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes zoom-exit {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: scale3d(0.05, 0.3, 0.3);
    transform: scale3d(0.05, 0.3, 0.3);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
.zoom-exit {
  animation-name: zoom-exit;
  animation-duration: 0.8s;
  -webkit-animation-name: zoom-exit;
  -webkit-animation-duration: 0.8s;
}
@-moz-keyframes fade-out {
  15% {
    background: #fff;
  }
  100% {
    background: #fff;
  }
}
@-webkit-keyframes fade-out {
  15% {
    background: #fff;
  }
  100% {
    background: #fff;
  }
}
@-o-keyframes fade-out {
  15% {
    background: #fff;
  }
  100% {
    background: #fff;
  }
}
@keyframes fade-out {
  15% {
    background: #fff;
  }
  100% {
    background: #fff;
  }
}
@-moz-keyframes zoom-enter {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoom-enter {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes zoom-enter {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoom-enter {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes zoom-exit {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: scale3d(0.01, 1, 1);
    transform: scale3d(0.01, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.01, 0.01, 1);
    transform: scale3d(0.01, 0.01, 1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 1);
    transform: scale3d(0.01, 0.01, 1);
  }
}
@-webkit-keyframes zoom-exit {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: scale3d(0.01, 1, 1);
    transform: scale3d(0.01, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.01, 0.01, 1);
    transform: scale3d(0.01, 0.01, 1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 1);
    transform: scale3d(0.01, 0.01, 1);
  }
}
@-o-keyframes zoom-exit {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: scale3d(0.01, 1, 1);
    transform: scale3d(0.01, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.01, 0.01, 1);
    transform: scale3d(0.01, 0.01, 1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 1);
    transform: scale3d(0.01, 0.01, 1);
  }
}
@keyframes zoom-exit {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: scale3d(0.01, 1, 1);
    transform: scale3d(0.01, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.01, 0.01, 1);
    transform: scale3d(0.01, 0.01, 1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.01, 0.01, 1);
    transform: scale3d(0.01, 0.01, 1);
  }
}



/*
 * MEDIA QUERY's
 * for device specific sizes
 *
 */

/**** MOBILE ****/
@media (max-width: 768px) {
  body * {
    box-sizing: border-box;
  }

  header {
    z-index: 1;
    background-color: #fff;
  }

  header #logo {
    display: inline-block;
    width: 16%;
    vertical-align: top;
  }

  header nav {
    width: 70%;
  }

  header ul {
    margin: 0 auto;
    float: right;
  }

  header ul li {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
  }

  section#intro .container, 
  section#intro .content, 
  section#portfolio .container {
    width: 100%;
  }

  section#intro #name-title {
    font-size: 45px;
  }

  section#intro #location {
    font-size: 14px;
    letter-spacing: 9px;
    margin: 0 -8px 5px 0;
  }

  section#intro #occupation {
    font-size: 13.2px;
    letter-spacing: 0px;
    padding-left: 2px;
  }

  /*** PORTFOLIO ***/
  /*****************/
  section#portfolio .container {
    margin-left: 0;
    padding: 0 10px;
  }

  section#portfolio #mobile-work-wrapper {
    position: relative;
    width: 295px;
    margin: 0 auto;
    transition: width 500ms;
    -webkit-transition: width 500ms;
  }

  section#portfolio .work-example {
    height: auto;
    width: auto;
  }

  section#portfolio .work-description {
    padding: 0 10px;
  }

  section#portfolio .work-example span {
    display: none !important;
  }

  section#portfolio .work-example img {
    height: 140px;
    width: 140px;
  }

  section#portfolio .work-example:nth-of-type(1) {
    top: 48px;
    left: 0px;
  }
  section#portfolio .work-example:nth-of-type(2) {
    top: 48px;
    left: 155px;
  }
  section#portfolio .work-example:nth-of-type(3) {
    top: 202px;
    left: 0px;
  }
  section#portfolio .work-example:nth-of-type(4) {
    top: 202px;
    left: 155px;
  }
  section#portfolio .work-example:nth-of-type(5) {
    top: 356px;
    left: 0px;
  }
  section#portfolio .work-example:nth-of-type(6) {
    top: 356px;
    left: 155px;
  }
  section#portfolio .work-example:nth-of-type(7) {
    top: 510px;
    left: 0px;
  }
  section#portfolio .work-example:nth-of-type(8) {
    top: 510px;
    left: 155px;
  }

  section#portfolio .work-example.active {
    top: 0;
    left: 0;
  }

}
