@import 'variables'

#contact 
	display: none;
	element-trans(opacity, 0.5s)
	.container {
		margin-top: 95px
		width: 700px;
		@media (max-width: 960px) {
			width: 400px;
			margin-left: 135px
		}
	}
	#contact-icons {
		position: relative;
		margin-top: 20px;
	}
	.fa {
		width: 35px;
	}
	.icon{
		element-trans(all, 0.5s)
		position: absolute;
		width: 300px;

		div {
			display: inline-block;
			margin-left: 10px;
		}
		span {
			opacity: 0;
		}
	}
	for icon in (1..6) 
		.icon:nth-of-type({icon})
			if icon % 2
				top: (icon - 1) * 25px
				left: 400px
			else 
				top: (icon - 2) * 25px
				left: 50px
			@media (max-width: 960px)
				left: 0
				top: (icon - 1) * 50px