@import 'variables'

section#intro {
	width: 100%;
	height: 100vh;
	display: flex;
	display:-webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	margin-top: -25px;
	
	.container {
		width: 100%;
	}
	
	.content {
		height: 250px;
		text-align: center;
		margin: 0 auto;
		overflow-x: hidden;
	}
	
	.intro-bg-wrap {
		display: flex;
		align-items: center;
    overflow-x: hidden;
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: 775px;
    transform: translate(-50%, -30%)
	}
	
	.intro-bg {
		display: inline-block;
		position: relative;
		max-width: 500px;
		width: 125%;
		left: 50%;
		transform: translate(-50%, 0%);
	}
	
	#name-title {
		color: #fff;
		display: none;
		font-size: 40px;
		font-weight: normal;
		line-height: 1;
		letter-spacing: 6.5px;
		padding-bottom: 15px;
		margin: 0;
		position: relative;
	}
	
	#location {
		margin: 0;
		font-weight: normal;
		display: none;
		color: #fff;
		font-size: 18px;
		/*intro-background(99%, 1%, intro-background-img)*/
		letter-spacing: 9.5px;
		margin-bottom: 15px;
		position: relative;
	}
	
	#occupation {
		margin: 0;
		font-weight: normal;
		display: none;
		color: #fff;
		font-size: 15px;
		position: relative;
	}
	
}

// TABLET AND DESKTOP
@media (min-width: 768px) {
	section#intro {
		.content {
			height: 250px;
		}
		
		.intro-bg {
			width: 95%;
			max-width: 775px;
		}
		
		#name-title {
			line-height: inherit;
			padding-bottom: 0;
			font-size: 84px;
			margin-right: 30px;
		}
		
		#location {
			letter-spacing: 23.5px;
			margin-right: -65px;
			font-size: 22px;
		}
		
		#occupation {
			letter-spacing: 2.9px;
			padding-left: 100px;
			font-size: 22px;
		}
	}
}


// ONLY MOBILE
// @media (max-width: 767px) {
// 	section#intro {
		
// 		.intro-bg-desktop {
// 			display: none !important;
// 		}
		
// 		#name-title {
// 			intro-background(70%, 43%, intro-background-img)
// 		}
		
// 		#location {
// 			intro-background(99%, 1%, intro-background-img)
// 			margin-bottom: 15px;
// 		}
		
// 		#occupation {
// 			intro-background(99%, 10%, intro-background-img)
// 		}
		
// 	}
// }
